PORT=8080
DATA_DIR=.
APP_API_TOKEN=Wkq-DmE78CP69jcznk9HQgAhaXA5gnPynLGk4rNR0HA
AGENT_API_TOKEN=XDTybE4fA0vyix54uE_PKTT9yBjVlhOG8B2zvxVgJpo

ADMIN_EMAIL=javier@alveraimpresion.com
ADMIN_PASSWORD=cambia-esta-contrasena-en-el-servidor

EMAIL_FROM=fotoprints@alveraimpresion.com
SMTP_HOST=mail.alveraimpresion.com
SMTP_PORT=587
SMTP_USER=fotoprints@alveraimpresion.com
SMTP_PASS=clave-del-correo-o-clave-de-aplicacion

PRINTER_NAME=
DISABLE_PRINT=0
